body {
    background-color: #fcfcfc;
} 
.menu_wrapper > .menu_row h1{
    display: flex;
    justify-content: center;
    align-items: center;
    /* font-family: 'Roboto', sans-serif; */
    font-family: 'Lobster', cursive;
    text-decoration: underline;
    font-size: 100px;
    text-decoration-color: #293278;
    color:  #293278;
}


.menu_img {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* menu */
.menu_cups {
    display: flex;
    align-items: center;
    column-gap: right;
    justify-content: center;
}

.menu_cups > .cup_body {
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    column-gap: right;
    justify-content: center;
    width: 350px;
}

/* cups */
.items_wrapper {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.item_wrapper > .items_prices {
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    column-gap: right;
    justify-content: center;
    width: 350px;
}

/* favorites */
.favorite_content {
    width: 100vw;
}
.favorite_content > .favorite_items {
    display: flex;
    justify-content: center;
    font-family: 'Lobster', cursive;
    font-family: 'Lobster', cursive;
    text-decoration: underline;
    font-size: 55px;
    text-decoration-color: #293278;
    color:  #293278;
}
.favorite_content >  .favorite_list_1  {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    font-size: 20px;
}

.favorite_content > .favorite_list_2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

/* smoothies */
.smoothies_content > .smoothies_items {
    display: flex;

}
.smoothies_content img{
    display: flex;
    width: 100vw;
    height: 1000vwx;
}
.smoothies_content > .smoothies_items {
    display: flex;
    justify-content: center;
    align-items: center;
    /* font-family: 'Roboto', sans-serif; */
    font-family: 'Lobster', cursive;
    text-decoration: underline;
    font-size: 55px;
    text-decoration-color: #293278;
    color:  #293278;
}

/* sweeat and treat */
.sweandtre > .sweandtre_wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    /* font-family: 'Roboto', sans-serif; */
    font-family: 'Lobster', cursive;
    text-decoration: underline;
    font-size: 55px;
    text-decoration-color: #293278;
    color:  #293278;
}

/* hot drinks */
.hot_drink > .hot_drinks_wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    /* font-family: 'Roboto', sans-serif; */
    font-family: 'Lobster', cursive;
    text-decoration: underline;
    font-size: 55px;
    text-decoration-color: #293278;
    color:  #293278;
}

.hot_drinks_list img {
    height: 500px;
    width: 600px;
    margin-left: -10px;
}

.sweandtre_list img {
    height: 600px;
    width: 650px;
    margin-left: -13px;
    padding-right: 10px;
}

.smoothies_list img {
    height: 600px;
    width: 100vw;
    margin-left: -10px;
    margin-right: -10px;
}

.hot_drinks_list {
    display: flex;
    justify-content: space-around;
    font-size: 4em;
}

.sweandtre_list {
    display: flex;
    justify-content: space-around;
    font-size: 3em;
}
.sweandtre_list ul {
    margin-top: -80px;
    padding-left: -20px;
}

