

/* NAV-BAR STYLES */
.header-wrapper {
    color: #fcfcfc;
    margin: -10px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
}

.top-bar-wrapper {
    background-color: #293278;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 300px;
    padding: 0px 75px;
}

.phone-number-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.phone-number > .hours {
    margin-top: -15px;
    font-size: .8rem;
    
}

.location {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: right;
}

.icon i {
    padding: 0px 15px;
    font-size: 1.5rem;
    transition: 0.5s;
}

.icon i:hover {
    color: #DA3732;
}

.logo-header > .logo img{
    height: 300px;
}

.nav-links-wrapper {
    margin-top: -2px;
    background-color: #DA3732;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
}

.nav-links-wrapper > .link {
    width: 70px;
    padding: 0px 35px;
    display: flex;
    justify-content: center;

}

.nav-links-wrapper > .link a {
    color: #fcfcfc;
    text-decoration: none;
    border-bottom: 2px solid transparent;
    border-top: 2px solid transparent;
    transition: 0.5s;
}

.nav-links-wrapper > .link a:hover {
    letter-spacing: 0.1rem;
    border-bottom: 2px solid #fcfcfc;
    border-top: 2px solid #fcfcfc;
}